* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

span {
    font-size: 42px;
}

header {
    position: relative;
    margin: auto;
    font-size: 20;
    color: #FFFFFF;
}

.first_line {
    position: relative;
    margin: auto;
    display: flex;
    background-color: #969696;
    padding-left: 100px;
    padding-right: 100px;
    align-items: flex-end;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 160px;
    justify-content: space-between;
}

.logo_label {
    display: flex;
    align-items: center;
}

.logo_label img {
    height: 30px;
    padding-right: 15px;
}

.second_line {
    position: relative;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20;
    margin-right: 100px;
    margin-left: 100px;
    color: #343434;
}

.header__button {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #8C6EDF;
    border-radius: 12px;
    color: #F3F7F0;
}

main {
    position: relative;
    margin-top: 70px;
    margin-left: 100px;
}

.banner {
    background-blend-mode: overlay;
    border-radius: 10px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.label_site {
    justify-content: space-between;
    position: relative;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.label_site img{
    height: 47%;
    width: 47%;
    float: right;
}

.label_site p{
    font-size: 48px;
    color: #343434;
}

.search {
    background-color: #D2C4E9;
    height: 110px;
    position: relative;
    margin: auto;
    display: flex;
    margin-top: 30px;
    margin-right: 100px;
    border-radius: 20px;
    border-color: #34343440;
    border-style: solid;
    border-width: 1px; 
    justify-content: space-between;
    align-items: center;
}

.search-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 54px;
    padding-bottom: 54px;
    height: 45px;
    background-color: #8C6EDF;
    border-radius: 20px;
    color: #F3F7F0;
    display: flex;
    align-items: center;
}

.dropdown-aparts {
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    width: 200px;
    border-radius: 15px;
    margin-left: 20px;
    background-color: #FFFFFF;
    position: relative;
    display: inline-block;
    justify-content: space-between;
    color: #343434
}

.dropdown-rooms {
    position: relative;
    display: inline-block;
    justify-content: space-between;
    height: 45px;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #343434
}

.square {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 150px;
    height: 45px;
    border-color: #34343440;
}

.address {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: 400px;
    height: 45px;
    border-color: #34343440;
}

.search img {
    width: 21px;
}

.data-label p{
    font-size: 32px;
    color: #343434;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mode {
    background-color: #FFFFFF;
    height: 52px;
    width: 444px;
    position: relative;
    margin: auto;
    display: flex;
    margin-top: 30px;
    margin-right: 800px;
    border-radius: 15px;
    border-color: #34343440;
    border-style: solid;
    border-width: 1px; 
    justify-content: space-between;
    align-items: center;
}

.mode p{
    color: #343434;
    margin: auto;
}

.mode-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 44px;
    width: 180px;
    background-color: #8C6EDF;
    border-radius: 12px;
    color: #F3F7F0;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

footer {
    height: 19px;
    position: relative;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}

.telega {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-weight: 600;
    transition: .5s;
    border-radius: 10px;
}

.telega a :hover {
    background-color: rgba(59, 24, 255, 0.267);
    transition: .5s;
}

.telega_icon {
    min-width: 25px;
    height: 25px;
    background: url("/img/telega_icon.png") no-repeat;
    background-position: 50% 50%;
    background-size: 101%;
    border-radius: 100%;
}

.made-by {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}
